
/* body{
  background-image: url(image.gif);
} */

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{  
  position: relative;
  z-index: 3;
}
.header_menu{
  margin-left: 43ch;  
  display: flex;
  justify-content: space-between;
  
}
#tex{
  font-size: 27pt;
  font-family: 'Yomogi', cursive;
  text-align: center;
}

.articles{
  display: flex;
  justify-content: space-between;
  /* margin-top: 25px; */
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 80px;
  position: relative;  
  z-index: 3;
}

#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  /* background: url(bg/daisy-stock-poster.jpg) no-repeat #94a233; */
  background-size: cover;
}

#video-bg > video {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto; 
}

@supports (object-fit: cover) {
   #video-bg > video {
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
   }
}



/*footer*/
.footer { 
  width:100%;  
  background-color:#26323800;
  min-height: 100px;
  padding:10px 0px 25px 0px;
  z-index: 2;  
  position: relative;  
}

.footer p {
  font-size:13px;
  color:#CCC;  
  padding-bottom:0px;
  margin-bottom:8px;
  margin-left: 50px;    
}

.social_footer_li { display:table; margin:15px auto 0 auto; list-style-type:none;}
.social_footer_li li { padding-left:20px; padding-top:10px; float:left;}
.social_footer_li li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_li li i {  width:20px; height:20px; text-align:center;}

